@import '../../SASS/variabls.scss';
@import '../../SASS/mixins.scss';

.projectBlockStyle {
    background-color: $secondBodyBackGroundColor;
    @include flexy (center, center);
    flex-direction: column;
    min-height: 100vh;
}

.projectContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 80%;
}

.projectName {
    @include flexy (center, '');
    @include text (140px, "Segoe UI", transparent);
    border-bottom: 2px solid $underLineBigTextColor;
    -webkit-text-stroke: 2px $bigTextOrHeaderTextColor;
    margin: 0 0 50px 0;
}

.up {
    position: relative;
    top: -110px;
}