@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


$bigTextOrHeaderTextColor: #66b95c;
$regularTextColor: #767676;
$secondTextColor: #000;
$footerTextColor: #ffffff;
$buttonTextColor: #ffffff;

$headerBackGroundColor: #ffffff;
$gradientBodyBackGroundColor: #767676 ;
$firstBodyBackGroundColor : #ffffff;
$secondBodyBackGroundColor : #f8f9fa;
$footerBackGroundColor: #000;
$LogoBackGroundColor: #dcdcdc;

$underLineBigTextColor: #767676;
$borderColor: #66b95c;
$choselink: #66b95c;
$buttoninitColor: #66b95c;



