@import '../../SASS/variabls.scss';
@import '../../SASS/mixins.scss';

.mainStyle {
    background: linear-gradient(to left, $firstBodyBackGroundColor 30%, $gradientBodyBackGroundColor 100%);
    @include flexy (center, flex-end);
    min-height: 100vh;

    @media screen and (max-width:1000px) {
        min-height: 80vh;
    }

    .up {
        position: absolute;
        top: 0;
    }

    .mainContainer {
        @include flexy (space-between, center);
        width: 70%;
     
        @media screen and (max-width:550px) {
          margin-top: 100px;
        }
        

        .mainImg {
            max-width: 350px;
            width: 100%;
            height: auto;
            transition: all 0.5s;

            &:hover {
                max-width: 375px;
                transition: all 0.5s;
            }
        }

        .describe {
            margin-right: 100px;

            @media screen and (max-width:1000px) {
                position: absolute;
                top: 50%;
            }

                    
            @media screen and (max-width:550px) {
                position: absolute;
                top: 60%;
            }

            .surenameText {
                @include text (160px, 'Segoe UI', transparent);
                -webkit-text-stroke: 2px $bigTextOrHeaderTextColor;
                margin: 0px;
                line-height: 160px;

                @media screen and (max-width:900px) {
                    font-size: 15vw;
                    line-height: 15vw;
                    -webkit-text-stroke: 4px $bigTextOrHeaderTextColor;
                }
            
            }

            .nameText {
                @include text (80px, 'Poppins', $bigTextOrHeaderTextColor);
                margin: 0px;
                line-height: 80px;

                @media screen and (max-width:1000px) {
                    font-size: 10vw;
                    line-height: 10vw;
                }
            }

            .spanText {
                @include textItalic (40px, 'Poppins', $regularTextColor);
                white-space: nowrap;

                @media screen and (max-width:1000px) {
                    font-size: 5vw;
                    color: $secondTextColor;
                    line-height: 5vw;
                }
            }
        }
    }
}