@import '../../SASS/mixins.scss';
@import '../../SASS/variabls.scss';

.skillsBlockStyle {
    background-color: $firstBodyBackGroundColor;
    @include flexy (center, center);
    flex-direction: column;
    min-height: 100vh;
}

.skillsSkillsStyle {
    padding-top: 20px;
    @include flexy (space-around, '');
    flex-wrap: wrap;
    width: 80%;
}

.skillsName {
    width: auto;
    @include flexy (center, center);
    @include text (140px, "Segoe UI", transparent);
    border-bottom: 2px solid $underLineBigTextColor;
    -webkit-text-stroke: 2px $bigTextOrHeaderTextColor;
    margin: 0;
}