@import '../../SASS/variabls.scss';
@import '../../SASS/mixins.scss';


.footerStyle {
    background-color: $footerBackGroundColor;
    @include flexy (center, center);
    padding-bottom: 10px
}

.footerBlock {
    @include flexy (center, center);
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.h3footer {
    @include text (50px, "Segoe UI", transparent);
    -webkit-text-stroke: 2px $bigTextOrHeaderTextColor;
    margin: 0;
    line-height: 80px;
}

.spanText {
    @include text (16px, "Segoe UI", $regularTextColor);
    margin-top: 20px;
}

.footersIMG {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.imgFoot {
    margin: 0px 20px 0px 20px;
    width: 50px;
    &:hover{
        filter: invert(25%);
    }
}

