@import '../../SASS/variabls.scss';
@import '../../SASS/mixins.scss';

.contactsStyle {
    background-color: $firstBodyBackGroundColor;
    @include flexy (center, center);
    min-height: 50vh;
}

.contactsBlock {
    @include flexy (center, center);
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 10px;
}

.buttonStyle {
    height: 50px;
    width: 150px;
    background-color: $buttoninitColor;
    @include textItalic (20px, 'Poppins', $buttonTextColor );
    border: 3px solid $borderColor;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all .5s ease;

    &:hover {
        box-shadow: 0 0 20px 8px $borderColor;
        transition: all .5s ease;
        @include textItalic (22px, 'Poppins', $buttonTextColor );
    }
}

.formContactsBlock {
    display: flex;
    flex-direction: column;
    width: 52%;
    margin: 10px 0px 30px 0px;
}

.inputMiddleStyle {
    margin: 30px 0px 30px 0px;
    border: 3px solid $borderColor;
    height: 30px;
    border-radius: 10px;
    @include textItalic (20px, 'Poppins', $regularTextColor);
    filter: contrast(85%);
    transition: all 0.3s ease;
    &:focus{
        outline: none;
        filter: contrast(120%);
        transition: all 0.5s ease;
        color: $bigTextOrHeaderTextColor;
        box-shadow: 0px 0px 20px 4px $bigTextOrHeaderTextColor;
    }
}


.inputTopStyle {
    border: 3px solid $borderColor;
    height: 30px;
    border-radius: 10px;
    @include textItalic (20px, 'Poppins', $regularTextColor);
    filter: contrast(85%);
    transition: all 0.3s ease;
    &:focus{
        outline: none;
        filter: contrast(120%);
        transition: all 0.5s ease;
        color: $bigTextOrHeaderTextColor;
        box-shadow: 0px 0px 20px 4px $bigTextOrHeaderTextColor;
    }
}

.textAreaStyle {
    border: 3px solid $borderColor;
    height: 100px;
    border-radius: 10px;
    @include textItalic (20px, 'Poppins', $regularTextColor);
    filter: contrast(85%);
    transition: all 0.3s ease;
    &:focus{
        outline: none;
        filter: contrast(120%);
        transition: all 0.5s ease;
        color: $bigTextOrHeaderTextColor;
        box-shadow: 0px 0px 20px 4px $bigTextOrHeaderTextColor;
    }
}


.mainName {
    width: auto;
    @include flexy (center, center);
    @include text (140px, "Segoe UI", transparent);
    line-height: 140px;
    border-bottom: 2px solid $underLineBigTextColor;
    -webkit-text-stroke: 2px $bigTextOrHeaderTextColor;
    margin: 20px 0 50px 0;
}

.up {
    position: relative;
    top: -410px;
}